body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: white;
}

header{
    background-color: rgb(87, 3, 3);
    color: white;
    padding: 2rem 3rem;
    font-size: 25px;
    text-align: center;
}

h2{
    text-align: center;
    color: white;
    padding: 2rem 2rem;
}

.tabla{
    display: grid;
    line-gap-override: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px; 
}
.div1{
    padding: 0rem 2rem;
    grid-area: 1/1/2/2;
}
.div2{
    font-size: 25px;
    grid-area: 1/2/2/3;
}